.container-fluid {
  font-family: "Plus Jakarta Sans", sans-serif; /* corrected property name */
  margin-top: 30px;
}

.side_bar {
  position: fixed;
  overflow: auto;
  padding: 15px;
}

/* Additional style to ensure the sidebar is full height */
.side_bar {
  height: 100vh;
}

.logo {
  color: var(--light-theme-gray-dark-blue-grey, #2a3547);
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 83.333% */
}

.section_header {
  color: var(--light-theme-gray-md-new-grey, #5a6a85);

  /* Small Semibold */
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 16.8px */
}

.section_item {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  padding: 10px 12px 10px 12px;
  color: var(--light-theme-gray-md-new-grey, #5a6a85);

  /* Normal */
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.28px;
}

.section_image {
  width: 24px;
  height: 24px;
}

/* NAV BAR */

.nav-bar {
  padding: 15px;
}
.nav_bar_left img {
  margin-right: 24px;
}
.nav_bar_right img {
  margin-right: 24px;
}
/* Add a border to the box-b component */
.box-b,
.box-a,
.box-d,
.box-e,
.box-g,
.box-f,
.box-h,
.box-i,
.box-k,
.box-c {
  border: 12px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12),
    0px 0px 2px 0px rgba(145, 158, 171, 0.2);
}

/* BOX A */

.box-a {
  display: flex;
  height: 300px;
  padding-left: 35px;
  padding-top: 35px;
}

.box-A-image {
  align-self: flex-end;
}
.text-middle-2 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.check_button {
  display: flex;
  height: 36px;
  width: 76px;
  padding: 0px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 4px;

  background: var(--light-theme-primary-primary, #5d87ff);
  color: var(--light-theme-gray-pure-white, #fff);

  /* Normal Semibold */
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.14px;
}

.box-b,
.box-c {
  height: 135px;
}

/* BOX B */

.box-b {
  color: #fff;
}

.box-b-image {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}

.box-b-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}
.box-b-content-container {
  display: flex;
  width: 300px;
  align-items: center;
  gap: 16px;
}
.percentage-text {
  display: flex;
  height: 20px;
  width: 43px;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--light-theme-gray-pure-white, #fff);
  margin-bottom: 8px;
  margin-left: 180px;
  color: var(--light-theme-primary-primary, #5d87ff);

  /* Small Semibold */
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 16.8px */
}

.percentage-text::after {
  content: "";
  position: absolute;
  width: 4;
  height: 8;
  border-left: 6px transparent solid;
  border-top: 6px solid #fff;
  border-right: 6px transparent solid;
  margin-top: 25px;
}
/* BOX C */
.box-c {
  display: flex;
  gap: 75px;
}

.box-c-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.box-c-bar-chart {
  display: inline-flex;
  align-items: flex-end;
  gap: 8px;
  height: 47px;
}

/* BOX D */

.box-d-line-chart {
  width: 100%;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.chart_legend {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  margin-left: 31px;
}

.legend_text {
  color: var(--light-theme-gray-medium-blue-grey, #7c8fac);

  /* Small */
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}

.box_header {
  display: flex;
  flex-direction: row;
}

.date_container {
  display: flex;
  height: 32px;
  padding: 0px 8px 0px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 3px;
  border: 1px solid var(--light-theme-gray-light-grey, #dfe5ef);
  background: var(--light-theme-gray-pure-white, #fff);
  color: var(--light-theme-gray-medium-blue-grey, #7c8fac);

  /* Small Semibold */
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 16.8px */
}
/* BOX E */
.box-e {
  height: 411px;
}

.box-e-chart {
  width: 205px;
  height: 205px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  align-self: center;
}
/* BOX F */

.box_icon {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
  background: var(--light-theme-primary-light-primary, #ecf2ff);
}

.box_left {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
}

/* BOX G */

.box_table {
  display: flex;
  flex-direction: column;
}
.box_table_title {
  display: flex;
  flex-direction: row;
  width: 692px;
  align-items: center;
  gap: 16px;
}
.box-g-middle {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  margin: 30px 16px 30px 15px;
}

.box_grid_text {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 7px;
  background: var(--light-theme-gray-pure-white, #fff);
  border: 1px solid var(--light-theme-gray-light-grey, #dfe5ef);
}

.box_g_grid {
  width: 24px;
  height: 24px;

  flex-shrink: 0;
  margin: 10px 28px 10px 28px;
}

.box_grid_text_title {
  color: var(--light-theme-gray-medium-blue-grey, #7c8fac);
  text-align: center;

  /* Small Semibold */
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 16.8px */
}

.table_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.table_section_text {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
}

.table_header {
  display: flex;
  flex-direction: row;
  width: 692px;
  align-items: center;
  gap: 16px;
}
/*  */
.box_titles {
  align-self: stretch;
  color: var(--light-theme-gray-dark-blue-grey, #2a3547);
  /* Heading/H5 */
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
}

.box_subtitles {
  align-self: stretch;
  color: var(--light-theme-gray-medium-blue-grey, #7c8fac);
  /* Normal */
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.28px;
}

.box_priority {
  display: flex;
  width: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}

/* BOX H I AND K */
.box-h-chart {
  height: 300px;
  width: 300px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  align-self: center;
}

/* BOX I */

.box_detail {
  display: flex;
  align-items: center;
  gap: 24px;
}

.box_detail hr {
  width: 1px;
  height: 40px;
  background: var(--light-theme-gray-light-grey, #dfe5ef);
}

.box_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.box_team_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.box_teams {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 12px;
}

.box-i-leaders {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.box-i-leaders-members {
  display: flex;
  align-items: center;
  gap: 8px;
}

.box_team_bootstrap {
  border-radius: 4px;
  background: var(--light-theme-primary-light-primary, #ecf2ff);
  color: var(--light-theme-primary-primary, #5d87ff);
  padding: 2px 8px;
}

.box_team_react {
  border-radius: 4px;
  background: var(--light-theme-action-light-light-success, #e6fffa);
  color: var(--light-theme-action-success, #13deb9);
  padding: 2px 8px;
}
.box_team_angular {
  border-radius: 4px;
  background: var(--light-theme-action-light-light-error, #fbf2ef);
  color: var(--light-theme-action-error, #fa896b);
  padding: 2px 8px;
}

@media only screen and (orientation: portrait) {
  .side_bar {
    display: none;
  }
}
