
@use 'abstract/mixin' as m;
@use 'abstract/color' as c;

.button{
    @include m.flex_center;
    height: 36px;
    width: 76px;
    padding: 0px 16px;
    gap: 4px;
    border-radius: 4px;
    background: c.$blue;
    color: c.$white;

}

