@use "../abstract/mixin" as *;
@use "../abstract/color" as *;

.date_container {
  @include flex_center;
  font-size: 12px;
  height: 32px;
  padding: 0px 8px 0px 16px;
  margin-left: 30px;
  gap: 4px;
  border-radius: 3px;
  border: 1px solid $light-grey;
  background: $textBox_color;
  color: $medium-grey;

  &--thin {
    @extend .date_container;
    padding: 2px 8px;
  }

  &--blue {
    background: $textBox_background;
    color: $textBox_color;
    font-size: 14px;
    padding: 2px 8px;
    border-radius: 4px;
  }
}
