@use '../abstract/mixin' as *;
@use '../abstract/color ' as *;


.date_container{
    @include flex_center;
    font-size: 12px;
    height: 32px;
    padding: 0px 8px 0px 16px;
    margin-left: 30px;
    gap: 4px;
    border-radius: 3px;
    border: 1px solid $light-grey;
    background: $white;
    color: $medium-grey;

    &--blue{
        background: $blue;
        color: $white;
        font-size: 14px;
    }
}

