@use "../abstract/mixin" as *;
@use "../abstract/color.scss" as *;

.outline_icon {
  @include text_icon($textBox_color, $textBox_background, 70px);
}

.coded_icon {
  @include text_icon($textBox_background, $textBox_color, 70px);
  border: $textBox_background 1px solid;
}

.number_icon {
  @include text_icon($textBox_color, $textBox_background, 22px);
}

.table_icon--transparent_blue {
  @include table_icon($transparent-blue);
}

.table_icon--green {
  @include table_icon($light-green);
}

.table_icon--orange {
  @include table_icon($light-orange);
}

.table_icon--blue {
  @include table_icon($light-blue);
}
.table_icon--red {
  @include table_icon($light-red);
}

.table_icon--speech {
  @include table_icon(rgba(255, 255, 255, 0.1));
  display: flex;
  padding: 8px;
  align-items: flex-start;
}
