@use 'abstract/mixin' as m;

.nav-bar {
  @include m.flex_center;
  padding: 15px;
  justify-content: flex-end;
    
  }
.nav_bar_left img {
  margin-right: 24px;
}
.nav_bar_right img {
  margin-right: 24px; 
}