@use 'abstract/fonts' as font;
@use 'abstract/color' as c;

.section_item{
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    padding: 10px 12px 10px 12px;


    }

.disabled_item{
    @extend .section_item;
    opacity: 0.5;
}