@use "../abstract/typography" as *;
@use "../abstract/color.scss" as *;
@use "../abstract/mixin" as *;
.section_item {
  @include flex_center;
  gap: 8px;
  flex: 1 0 0;
  padding: 10px 12px 10px 12px;
  border-radius: 4px;

  &--disabled {
    @extend .section_item;
    opacity: 0.5;
  }

  &--icon {
    @include flex_center;
    flex-direction: row;
    padding-right: 8px;
  }
}

.clicked {
  background-color: $textBox_background;
  color: $textBox_color;
}
