@use "../abstract/color" as *;
@use "../abstract/mixin" as *;

.sign_up {
  border-radius: 12px;
  background: var(--Light-Theme-Primary-Light-Primary, #ecf2ff);
}
.sign_up-content {
  @include flex_start;
  flex-direction: row;

  padding: 15px;
}

.sign_up-item-1 {
  width: 45px;
  height: 55px;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  /* 19.2px */
}

.sign_up-image {
  width: 80px;
  height: 124px;
  transform: rotate(-7.452deg);
}
