@use "../abstract/mixin" as *;
@use "../abstract/typography" as *;
@use "../abstract/color" as *;

.box_table {
  display: flex;
  flex-direction: column;

  &--box_K {
    @extend .box_table;
    align-items: flex-start;
    gap: 24px;
    margin-top: 21px;
  }
}
.table_section {
  @include flex_center;
  flex-direction: row;

  &--inline {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  &--title {
    @include flex-center;
  }

  &--content {
    width: 100px;
    flex-shrink: 0;
    align-self: flex-start;
  }
  &--box_K {
    @extend .table_section;
    gap: 16px;
  }
  &--medical {
    @include flex_center;
    gap: 24px;

    hr {
      width: 1px;
      height: 40px;
      background: $light-grey;
    }
  }
}
