@use "../abstract/mixin" as *;
@use "../abstract/color" as *;

.text_box--blue {
  @include text_box($textBox_background, $light-blue);
}

.text_box--red {
  @include text_box($red, $light-red);
}

.text_box--green {
  @include text_box($green, $light-green);
}
.text_box--orange {
  @include text_box($orange, $light-orange);
}

.text_box--white {
  @include text_box($textBox_background, $textBox_color);
  padding: 2px 8px;
  height: 20px;
  width: 43px;
  margin-left: 180px;
  position: relative;
  margin-bottom: 10px;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px transparent solid;
    border-top: 6px solid $textBox_color;
    border-right: 6px transparent solid;
    margin-top: 25px;
    left: 50%;
    transform: translateX(-50%);
  }
}
