$primary-color: var(--light-theme-gray-md-new-grey, #5A6A85);
$title-color: var(--light-theme-gray-dark-blue-grey, #2A3547);
$white: var(--light-theme-gray-pure-white, #FFF);
$blue: var(--light-theme-primary-primary, #5D87FF);
$light-grey: var(--light-theme-gray-light-grey, #dfe5ef);
$medium-grey: var(--light-theme-gray-medium-blue-grey, #7c8fac);   