$primary-color: var(--light-theme-gray-md-new-grey, #5A6A85);
$title-color: var(--light-theme-gray-dark-blue-grey, #2A3547);
$white: var(--light-theme-gray-pure-white, #FFF);
$blue: var(--light-theme-primary-primary, #5D87FF);
$light-grey: var(--light-theme-gray-light-grey, #dfe5ef);
$medium-grey: var(--light-theme-gray-medium-blue-grey, #7c8fac);   
$light-blue:var(--light-theme-action-light-light-info, #EBF3FE);
$green: var(--light-theme-action-success, #13DEB9);
$light-green: var(--light-theme-action-light-light-success, #E6FFFA);
$red: var(--light-theme-action-error, #FA896B);
$light-red: var(--light-theme-action-light-light-error, #FBF2EF);
$orange: var(--light-theme-action-warning, #FFAE1F);
$light-orange: var(--light-theme-action-light-light-warning, #FFF8E6);