$primary-color: var(--light-theme-gray-md-new-grey, #5a6a85);
$title-color: var(--light-theme-gray-dark-blue-grey, #2a3547);
$textBox_color: var(--light-theme-gray-pure-white, #fff);
$textBox_background: var(--light-theme-primary-primary, #5d87ff);
$light-grey: var(--light-theme-gray-light-grey, #dfe5ef);
$medium-grey: var(--light-theme-gray-medium-blue-grey, #7c8fac);
$light-blue: var(--light-theme-action-light-light-info, #ebf3fe);
$green: var(--light-theme-action-success, #13deb9);
$light-green: var(--light-theme-action-light-light-success, #e6fffa);
$red: var(--light-theme-action-error, #fa896b);
$light-red: var(--light-theme-action-light-light-error, #fbf2ef);
$orange: var(--light-theme-action-warning, #ffae1f);
$light-orange: var(--light-theme-action-light-light-warning, #fff8e6);
$transparent-blue: var(--light-theme-primary-light-primary, #ecf2ff);
$first_box: var(--Light-Theme-Action-Light-Light-Info, #ebf3fe);
$hr_color: var(--light-theme-gray-lighter-grey, #eaeff4);
