@mixin flex-center {
    display: flex;
    align-items: center;
  }

@mixin flex-start{
    display: flex;
    align-items: flex-start;
}

@mixin text_icon($color, $background, $width){
    @include flex-center;
    height: 22px;
    width: $width;
    padding: 0px 8px;
    flex-direction: column;
    justify-content: center;
    border-radius: 100px;
    color: $color;
    background: $background;

}

@mixin table_icon($color, $background){
    @include flex-start;
    padding: 8px;
    background-color: $background;
    border-radius: 8px;
}

@mixin text_box($color, $background){
    @include flex-center;
    background-color: $background;
    color: $color;

}