@mixin flex_center {
  display: flex;
  align-items: center;
}

@mixin flex_start {
  display: flex;
  align-items: flex-start;
}

@mixin text_icon($color, $background, $width) {
  @include flex-center;
  height: 22px;
  width: $width;
  padding: 0px 8px;
  flex-direction: column;
  justify-content: center;
  border-radius: 100px;
  color: $color;
  background: $background;
}

@mixin table_icon($background) {
  @include flex-start;
  padding: 8px;
  background-color: $background;
  border-radius: 8px;
}

@mixin text_box($color, $background) {
  @include flex-center;
  background-color: $background;
  color: $color;
  font-weight: 600;
  font-size: 12px;
  border-radius: 4px;
  justify-content: center;
}

@mixin team_container($color, $background) {
  @include flex-center;
  font-weight: 600;
  padding: 2px 8px;
  border-radius: 4px;
  color: $color;
  background-color: $background;
}

@mixin leader_container($background, $width, $height) {
  border-radius: 100px;
  width: $width;
  height: $height;
  background-color: $background;
  flex: 0;
}
